@import "vars";
@import "fonts";
@import "libs";
@import "mixins";


html,
body {
	height: 100%;
}

body {
	min-width: 320px;
	position: relative;
	font-family: $default-font;
	overflow-x: hidden;
	color: #212529;
	line-height: normal;
	padding: 0;
	margin: 0;
	padding-top: 100px;

	input,
	textarea,
	button {
		outline: none;
	}
}

ul,
li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	margin: 0;
}

a {
	color: inherit;

	&:hover {
		text-decoration: none;
		color: inherit;
	}

	&:focus{
		outline: 0 !important;
	}

}

p,
label {
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
	height: auto;
}

.slick-slide {
	outline: 0 !important;
}

.page-inner {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.page-content {
	flex-grow: 1;
}

.footer {
	flex-shrink: 0;
}

span.select2-selection.select2-selection--single {
	outline: none !important;
}

.select2-dropdown {
	border: none;
}

.select2 {
	width: 100% !important;
}

.select2-dropdown .select2-results__option[aria-selected=true] {
	display: none;
}

.slick-slider{
	max-width: 100%;
}

.header{
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 999;
	display: flex;
	align-items: center;
	color: #fff;
	background-color: #007bff;
	height: 58px;

	&__container{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__logo{
		font-size: 20px;
	}

}

.h1{
	font-size: 32px;
	margin-bottom: 25px;
}

.main{
	padding-bottom: 50px;
}

.recipe{
	border: 1px solid rgba(0,0,0,.125);
	margin-bottom: 100px;
	margin-bottom: 20px;

	&:last-child{
		margin-bottom: 0;
	}

	&__body{
		padding: 20px;
	}

	&__title{
		display: block;
		font-size: 20px;
		color: #007bff;
		transition: 0.3s color;
		margin-bottom: 10px;

		&:hover{
			color: #0056b3;
		}

	}

	&__short-descr{
		margin-bottom: 25px;
	}

	&__buttons{
		display: flex;
		align-items: center;
	}

	&__button{
		margin-right: 15px;

		&:last-child{
			margin-right: 0;
		}
		
	}

}

.button{
	display: flex;
	align-items: center;
	height: 38px;
	padding: 0 20px;
	border: none;
	background-color: transparent;
	border-radius: 4px;
	transition: 0.3s background-color, 0.3s color;
	color: #fff;
	cursor: pointer;

	&:hover{
		color: #fff;
	}

	&:focus{
		outline: 0;
	}

	&--1{
		background-color: #007bff;

		&:hover{
			background-color: #0069d9;
		}

	}

	&--2{
		background-color: #dc3545;

		&:hover{
			background-color: #c82333;
		}

	}

	&--3{
		 color: #007bff;

		 &:hover{
			 color: #0056b3;
		 }

	}

}

.form{

	&__body{
		margin-bottom: 35px;
	}

	&__partial{
		position: relative;
		margin-bottom: 35px;

		&:last-child{
			margin-bottom: 0;
		}

	}

	&__label{
		display: flex;
		margin-bottom: 5px;
	}

	&__field{
		display: flex;
		width: 100%;
		height: 38px;
		border-radius: 4px;
		padding-left: 12px;
		padding-right: 12px;
		font-size: 14px;
		color: #495057;
		border: 1px solid rgba(0,0,0,.15);
		transition: 0.3s border-color;

		&:focus{
			border-color: #80bdff;
		}

		&--textarea{
			height: 80px;
			resize: none;
			padding-top: 12px;
			padding-bottom: 12px;
		}

	}

	&__ingidient-wrapper{
		position: relative;
		display: flex;
		align-items: center;
		margin-bottom: 30px;

		label.error{
			display: block;
		}

		&:last-child{
			margin-bottom: 0;
		}

	}

	&__ingidient-close{
		position: absolute;
		right: -40px;
		width: 18px;
		height: 18px;
		background-size: cover;
		background-repeat: no-repeat;
		background-image: url('../img/icons/close.svg');
		cursor: pointer;
		opacity: 0;
		pointer-events: none;

		&.is-shown{
			opacity: 1;
			pointer-events: auto;
		}

	}

	&__buttons{
		display: flex;
		align-items: center;
	}

	&__ingidient-button{
		font-size: 12px;
		height: 32px;
		padding: 0 10px;
	}
	
	&__ingridients{
		margin-bottom: 30px;
	}

}

label.error{
	position: absolute;
	left: 0;
	bottom: -20px;
	font-size: 14px;
	color: red;
}

.one-recipe{

	&__img{
		margin-bottom: 25px;
	}

	&__title{
		color: #000;
		font-size: 28px;
		margin-bottom: 5px;
	}

	&__block{
		margin-bottom: 20px;

		&:last-child{
			margin-bottom: 0;
		}

	}

	&-list{
		padding-left: 18px;

		&__item{
			margin-bottom: 5px;
			list-style-type: decimal;

			&:last-child{
				margin-bottom: 0;
			}

		}

	}

	&__button{
		display: inline-flex;
	}

}

.popup{
	display: none;
	width: 100%;
	max-width: 500px;
	background-color: #fff;
	border-radius: 4px;
	padding: 20px;

	&__title{
		font-size: 24px;
		margin-bottom: 20px;
	}

	&__buttons{
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

}

.fancybox-button{
	display: none;
}