@import "vars";
@import "fonts";
@import "libs";
@import "mixins";

* {
    outline: 0 !important;
}

body,
html {
    height: 100%;
}

body {
    min-width: 320px;
    position: relative;
    font-family: $default-font;
    overflow-x: hidden;
    color: $body-color;
    line-height: normal;
    padding: 0;
    margin: 0;
    background-color: $body-bg;

    &.is-overflowed{
        overflow: hidden;
    }

    button,
    input,
    textarea {
        outline: none;
    }
}

li,
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    margin: 0;
}

a {
    color: inherit;

    &:hover {
        text-decoration: none;
        color: inherit;
    }

    &:focus {
        outline: 0 !important;
    }

}

label,
p {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.slick-slide {
    outline: 0 !important;
}

.page-inner {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.page-content {
    flex-grow: 1;
}

span.select2-selection.select2-selection--single {
    outline: none !important;
}

.select2-dropdown {
    border: none;
}

.select2 {
    width: 100% !important;
}

.select2-dropdown .select2-results__option[aria-selected=true] {
    display: none;
}

.slick-slider {
    max-width: 100%;
}

.header {

    $this: &;

    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    padding-top: 40px;
    padding-bottom: 40px;
    transition: 0.3s;
    background-color: $body-bg;

    @include md() {
        padding-top: 22px;
        padding-bottom: 22px;
    }

    &.is-active {
        background-color: $body-bg;
    }

    &__container {
        display: flex;
        align-items: center;
    }

    &__logo {
        width: 109px;
        height: 23px;
        margin-right: auto;

        @include md() {
            width: auto;
            height: auto;
        }

    }

    &-nav {
        display: flex;

        @include md() {
            display: block;
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: $body-bg;
            transition: 0.3s transform;
            z-index: 99999;
            overflow-y: scroll;
            transform: translateX(-100%);
            transition: 0.3s transform;

            &.is-active{
                transform: translateX(0);
            }

        }

        &__wrapper{
            display: flex;
            align-items: center;

            @include md() {
                height: 100%;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                padding-left: 55px;
                padding-right: 55px;
                overflow-y: auto;
            }

        }

    }

    &-list{

        $this: &;

        display: flex;
        align-items: center;
        margin-right: 90px;

        @include md() {
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            margin-right: 0;
            margin-bottom: 20px;
            width: 100%;
        }

        &__item{
            font-size: 14px;
            position: relative;
            margin-right: 40px;

            @include md() {
                font-size: 18px;
                margin-right: 0;
                margin-bottom: 20px;
            }
            
            &.active{

                #{$this}__link{
                    color: $body-color;
                }

            }

            &:hover{

                @media (min-width: 992px) {

                    #{$this}__link{
                        color: $body-color;
                    }
                    
                    .header-subnav--1{
                        opacity: 1;
                        pointer-events: auto;
                    }

                }

            }

            &:last-child{
                margin-right: 0;
                margin-bottom: 0;
            }

        }

        &__link{
            color: #484564;
            transition: 0.3s color;
            cursor: pointer;

            &:hover{

                @include md() {
                    color: #484564;
                }

            }

        }

    }

    &-subnav{

        $this: &;

        position: absolute;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: $body-bg;
        width: 100%;
        min-width: 280px;
        max-width: 280px;
        opacity: 0;
        pointer-events: none;

        @include md() {
            display: none;
            font-size: 14px;
            position: static;
            opacity: 1;
            pointer-events: auto;
            min-width: 100%;
            max-width: 100%;
        }
        
        &--1{
            left: -20px;
            top: 100%;
            padding-top: 43px;

            @include md() {
                padding: 0;
                padding-left: 15px;
                padding-top: 15px;
            }

        }

        &--2{
            top: 0;
            left: 100%;
            transform: translateY(-20px);

            @include md() {
                transform: none;
                padding: 0;
                padding-top: 15px;
                padding-left: 15px;
            }

        }

        &__item{
            position: relative;
            padding-left: 20px;
            padding-right: 20px;
            margin-bottom: 15px;

            @include md() {
                padding: 0;
                margin-bottom: 10px;
            }

            &--1{

                &:hover{

                    #{$this}--2{
                        opacity: 1;
                        pointer-events: auto;
                    }

                }

            }

            &:last-child{
                margin-bottom: 0;
            }

        }

        &__link{

            &--1{

                @include md() {
                    font-size: 16px;
                }

            }

        }

    }

    &-phone {
        display: flex;
        align-items: center;
        font-size: 13px;
        color: #484564;
        transition: 0.3s color;

        @include md() {
            font-size: 18px;
        }

        &:hover {
            color: $body-color;

            svg {

                path {
                    fill: $body-color;
                }

            }

        }

        svg {
            margin-right: 6px;

            path {
                transition: 0.3s fill;
            }

        }

    }


}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 52px;
    border-radius: 50px;
    font-size: 14px;
    font-family: "SanFrancisco-SemiBold";
    user-select: none;
    border: none;
    padding-left: 34px;
    padding-right: 34px;
    cursor: pointer;
    transition: 0.3s all;
    box-shadow: 0px 0px 31px rgba(58, 227, 146, 0);

    &:hover {
        box-shadow: 0px 0px 31px rgba(58, 227, 146, 0.3);
    }

    &--1 {
        color: #13112A;
        background-color: #3AD189;

        &:hover {
            color: #13112A;
        }

    }

    &--2 {
        color: #3AD189;
        background-color: transparent;
        border: 1px solid #3AD189;

        &:hover {
            color: #3AD189;
        }

    }

    &--3 {
        color: $body-bg;
        background-color: #FFBB00;

        &:hover {
            color: $body-bg;
        }

    }

}

.hero {
    position: relative;
    height: 100vh;
    padding-top: 165px;

    @include md() {
        padding-top: 100px;    
    }

    &-slider {
        max-width: 1220px;
    }

    &__circle-1,
    &__circle-2 {
        position: absolute;
        right: 0;
        top: 0;
        max-height: 100vh;

        @include md() {
            display: none;
        }

    }

    &__line {
        position: absolute;
        top: 0;
        z-index: -1;
    }

    &-item {
        display: grid !important;
        grid-template-columns: repeat(12, 1fr);
        align-items: center;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 40px;

        @include md() {
            display: flex !important;
            flex-direction: column-reverse;
            padding-left: 0;
            padding-right: 0;
        }

        &__col {

            &--first {
                grid-column: 1 / span 5;
            }

            &--last {
                grid-column: 6 / span 7;

                @include md() {
                    margin-bottom: 35px;
                }

            }

        }

        &-title {
            font-size: 36px;
            font-family: "SamsungSharpSans";
            margin-bottom: 28px;

            @include md() {
                font-size: 20px;
                margin-bottom: 15px;
            }

            &__accent {
                font-family: "SamsungSharpSans-Bold";
                color: #FDB813;
            }

            &__bold {
                font-family: "SamsungSharpSans-Bold";
            }

        }

        &__descr {
            color: #484564;
            line-height: 1.25;
            margin-bottom: 46px;

            @include md() {
                margin-bottom: 30px;
            }

        }

        &__buttons {
            display: flex;
            align-items: center;
        }

        &__button {
            padding-left: 34px;
            padding-right: 34px;
            margin-right: 8px;

            &:last-child {
                margin-right: 0;
            }

        }

    }

    &-slider {

        &__nav {
            justify-content: flex-end;
            position: absolute;
            z-index: 10;
            left: 50%;
            transform: translateX(-50%);
            bottom: 40px;
        }

    }

}

.slider-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &__dots {
        margin-right: 27px;

        .slick-dots {
            display: flex;
            align-items: center;

            li {
                margin-right: 11px;
                cursor: pointer;

                &.slick-active {

                    .slider-nav__dot {
                        width: 9px;
                        height: 9px;
                        background-color: #3AD189;
                        box-shadow: 0 0 10px rgba(58, 227, 146, 0.3);
                    }

                }

                &:last-child {
                    margin-right: 0;
                }

            }

        }

    }

    &__dot {
        width: 4px;
        height: 4px;
        background-color: #484564;
        border-radius: 50%;
        transition: 0.3s;
    }

    &__arrows {
        display: flex;
        align-items: center;
    }

    &__arrow {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 33px;
        height: 33px;
        border-radius: 50%;
        background: rgba(17, 14, 36, 0.8);
        cursor: pointer;
        margin-right: 8px;
        user-select: none;

        &:last-child {
            margin-right: 0;
        }

    }

}

.heading {

    &--center {
        text-align: center;
    }

    &--2 {
        font-size: 36px;
        font-family: "SamsungSharpSans-Bold";
        margin-bottom: 50px;

        @include md() {
            margin-bottom: 30px;
        }

    }

    &__accent-1 {
        color: #FFBB00;
    }

}

.block-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 374px;
    background: rgba(17, 14, 36, 0.8);
    border-radius: 20px;
    text-align: center;

    &__icon {
        margin-bottom: 35px;
    }

    &__title {
        font-size: 22px;
    }

    &__descr {
        color: #484564;
    }

}

.services {
    position: relative;
    padding-top: 40px;
    padding-bottom: 130px;

    @include md() {
        padding-bottom: 80px;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;

        @include md() {
            grid-template-columns: repeat(1, 1fr);
        }

    }

    &__line {
        position: absolute;
        z-index: -1;
        bottom: 0;
    }

    &-block {
        height: 374px;

        &__overlay {
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        &__icon {
            margin-bottom: 35px;
        }

        &__title {
            font-size: 22px;
            max-width: 180px;
        }

        &__list {
            height: 228px;
        }

    }

}

.index-news {
    position: relative;
    padding-bottom: 150px;

    @include md() {
        padding-bottom: 100px;
    }

    &__line {
        position: absolute;
        z-index: -1;
        right: 0;
        top: -120px;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 30px;

        @include md() {
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 20px;
        }

    }

}

.news-item {

    $button-margin-top: 12px;

    display: flex !important;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    height: 389px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 20px;
    overflow: hidden;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 25px;
    text-align: center;
    transition: 0.3s box-shadow;

    @include md() {
        padding-bottom: 35px;
    }

    &:hover {
        box-shadow: 0 0 31px rgba(58, 227, 146, 0.3);

        .news-item__content {
            transform: translateY(0);
        }

        .news-item__button {
            opacity: 1;
        }

    }

    &::before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: linear-gradient(179.86deg, rgba(0, 0, 0, 0) 35.52%, rgba(13, 11, 30, 0.8) 99.92%);
    }

    &__content {
        transition: 0.3s transform;
        transform: translateY($button-margin-top + 52px); //button margin-top + button height
    }

    &__title {
        font-size: 18px;
        position: relative;
        z-index: 1;
    }

    &__button {
        position: relative;
        z-index: 1;
        margin-top: $button-margin-top;
        transition: 0.3s opacity;
        opacity: 0;
    }

}

.clients {
    position: relative;
    padding-bottom: 125px;

    @include md() {
        padding-bottom: 80px;
    }

    &__circle {
        position: absolute;
        z-index: -1;
        top: -100px;

        @include md() {
            display: none;
        }

    }

    &-heading {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__big {
            color: #3AD189;
            font-size: 64px;
            font-family: "SamsungSharpSans-Bold";
            margin-bottom: 5px;
            text-shadow: 0 0 31px rgba(58, 209, 137, 0.4);

            @include md() {
                font-size: 36px;
            }

        }

        &__small {
            text-shadow: 0 0 31px rgba(61, 58, 227, 0.3);
        }

    }

    &-list {
        display: grid;
        grid-template-columns: repeat(6, 1fr);

        @include md() {
            display: block;
        }

        &__item {
            display: flex !important;
            align-items: center;
            justify-content: center;
            border-right: 1px solid #322F4C;
            border-bottom: 1px solid #322F4C;
            height: 170px;

            @include md() {
                border-right: none;
                border-bottom: 1px solid #322F4C !important;
            }

            &:nth-child(6n + 6) {
                border-right: none;
            }

            &:nth-last-child(-n+6) {
                border-bottom: none;
            }

        }

    }

}

.footer {
    position: relative;
    flex-shrink: 0;

    &__circle-1,
    &__circle-2 {
        position: absolute;
        right: 0;

        @include md() {
            display: none;
        }

    }

    &__circle-1 {
        bottom: 272px;
        z-index: 1;
    }

    &__circle-2 {
        bottom: 0;
    }

    &__inner-wrapper {
        overflow: hidden;
    }

    &__inner {
        position: relative;
        padding-top: 69px;
        padding-bottom: 38px;

        @include md() {
            padding-top: 0;
            padding-bottom: 30px;
        }

    }

    &-overlay {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;

        @include md() {
            display: none;
        }

        &__block {
            position: relative;
            width: 100%;
            height: 100%;
            background: linear-gradient(103.61deg, #1A1730 0%, #13112A 100%);

            &::before {
                content: '';
                display: block;
                position: absolute;
                left: -100%;
                right: 0;
                top: 0;
                bottom: 0;
                background: linear-gradient(103.61deg, #1A1730 0%, #13112A 100%);
            }

        }

    }

    &__top {
        margin-bottom: 120px;

        @include md() {
            margin-bottom: 10px;
        }

    }

    &-block {

        &__title {
            font-size: 18px;
            font-family: "SamsungSharpSans-Bold";
            margin-bottom: 29px;

            @include md() {
                font-size: 16px;
                margin-bottom: 20px;
            }

        }

        &__item {
            font-size: 14px;
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }

        }

        &__link {
            display: flex;

            img {
                margin-right: 7px;
            }

        }

    }

    &-copyright {
        display: flex;
        align-items: center;

        &__text {
            font-size: 12px;
            font-family: "SanFrancisco-Medium";
            color: #484564;
            margin-right: 7px;

            @include md() {
                margin-right: 10px;
            }

        }

        &__logo {
            width: 77px;
            height: 20px;
        }

    }

    &__logo-wrapper{
        
        @include md() {
            margin-bottom: 25px;
        }

    }

    &__block-wrapper{

        @include md() {
            margin-bottom: 30px;
        }

    }

}

.erp-advantages {
    padding-top: 85px;
    margin-bottom: 110px;

    @include md() {
        padding-top: 50px;
        margin-bottom: 80px;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;

        @include md() {
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 20px;
        }

    }

    &__block {

        @include md() {
            display: flex !important;
            height: 340px;
        }

        .block-1__title {
            margin-bottom: 10px;
        }

        .block-1__descr {
            max-width: 260px;
        }

    }

}

.or {
    display: flex;
    align-items: center;

    @include md() {
        display: block;
        text-align: center;   
    }

    &::after,
    &::before {
        content: '';
        display: block;
        flex-grow: 1;
        height: 1px;
        background-color: #FDB813;

        @include md() {
            display: none;
        }

    }

    &--1 {
        font-size: 60px;
        font-family: "SamsungSharpSans-Bold";
        color: #FDB813;
        text-shadow: 0 0 38px rgba(253, 184, 19, 0.5);
        margin-bottom: 13px;

        @include md() {
            font-size: 36px;
            margin-bottom: 10px;
        }

        span {
            margin-left: 40px;
            margin-right: 40px;

            @include md() {
                margin: 0;
            }

        }

    }

}

.erp-services {
    padding-bottom: 460px;

    @include md() {
        padding-bottom: 120px;
    }

    &__top {
        margin-bottom: 170px;

        @include md() {
            margin-bottom: 30px;
        }

    }

    &__heading {
        max-width: 750px;
        margin-left: auto;
        margin-right: auto;

        @include md() {
            font-size: 24px;
            max-width: 100%;
            margin: 0;
        }

        span {
            font-family: "SamsungSharpSans";
        }

    }

    &-items {
        position: relative;

        &__man {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: -90px;
            margin-left: 10px;

            @include md() {
                display: none;
            }

        }

        &__row {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;

            @include md() {
                position: static;
                margin-left: 0;
                margin-right: 0;
            }

        }

        &__bg {
            display: block;
            margin-left: auto;
            margin-right: auto;

            @include md() {
                display: none;
            }

        }

        &__circle {
            width: 713px;
            height: 713px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background-color: #19172F;
            z-index: -1;
            border-radius: 50%;
            margin-top: 60px;

            @include md() {
                display: none;
            }

        }

    }

}

.erp-service-wrapper {
    position: absolute;
    bottom: 0;

    @include md() {
        position: static;   
    }

    &--1 {
        bottom: -20px;
    }

    &--2 {
        bottom: -240px;
    }

    &--3 {
        bottom: -200px;
    }

    &--4 {
        bottom: -20px;
        left: -35px;

        .erp-service__descr {
            max-width: 220px;
        }

    }

}

.erp-service {

    @include md() {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    &__title {
        font-size: 22px;
        margin-bottom: 15px;
        padding-left: 30px;

        @include md() {
            padding-left: 0;
        }

    }

    &__descr {
        line-height: 20px;
        color: #484564;
        padding-left: 30px;

        @include md() {
            padding-left: 0;    
        }

    }

}

.erp-development {
    position: relative;
    padding-bottom: 205px;

    @include md() {
        padding-bottom: 120px;
    }

    &__line {
        position: absolute;
        right: 0;
        top: -50px;
        z-index: -1;
    }

    &__heading {
        margin-bottom: 110px;

        @include md() {
            margin-bottom: 40px;
        }

    }

    &__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 25px;

        @include md() {
            display: block;
        }

    }

    &-item {

        &__num {
            font-size: 48px;
            font-family: "SamsungSharpSans-Bold";
            color: #3AD189;
            text-shadow: 0 0 31px rgba(58, 227, 146, 0.3);
            margin-bottom: 25px;

            @include md() {
                font-size: 36px;
                margin-bottom: 10px;
            }

        }

        &__text {
            line-height: 20px;

            @include md() {
                font-size: 14px;
            }

        }

    }

}

.erp-modules {
    position: relative;
    padding-bottom: 130px;

    @include md() {
        padding-bottom: 100px;
    }

    &__circle {
        position: absolute;
        bottom: -310px;
        left: 0;

        @include md() {
            display: none;
        }

    }

    &__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;

        @include md() {
            display: block;
        }

    }

    &-item {

        $this: &;

        display: flex;
        flex-direction: column;
        position: relative;
        height: 310px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        border-radius: 20px;
        overflow: hidden;
        padding: 25px 35px;
        cursor: pointer;

        &:hover {

            &::before {
                opacity: 0;
            }

            &::after {
                opacity: 1;
            }

            #{$this}__descr,
            #{$this}__title {
                color: #13112A;
            }

        }

        &::after,
        &::before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            transition: 0.3s opacity;
        }

        &::before {
            background: rgba(15, 13, 40, 0.7);
        }

        &::after {
            background: linear-gradient(180deg, rgba(58, 227, 146, 0.8) 0%, rgba(38, 176, 108, 0.8) 100%);
            opacity: 0;
        }

        &__title {
            position: relative;
            z-index: 1;
            font-size: 28px;
            font-family: "SanFrancisco-SemiBold";
            color: #fff;
            margin-bottom: 10px;
            transition: 0.3s color;
        }

        &__descr {
            position: relative;
            z-index: 1;
            font-size: 18px;
            line-height: 1.3;
            transition: 0.3s color;
        }

    }

}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.opportunities {
    padding-bottom: 100px;

    &-tabs {

        &-list {
            display: flex;
            align-items: center;
            background-color: #1C1A34;
            border-radius: 20px;
            margin-bottom: 30px;

            @include md() {
                display: block;
            }

            &__item {
                display: flex !important;
                align-items: center;
                justify-content: center;
                height: 103px;
                font-size: 18px;
                width: 100%;
                transition: 0.3s;
                border-radius: 20px;
                cursor: pointer;

                @include md() {
                    font-size: 16px;
                    height: 80px;
                    width: 50%;
                    flex-shrink: 0;
                }

                &.is-active {
                    color: #13112A;
                    background-color: #3AE392;
                    box-shadow: 0px 0px 31px rgba(58, 227, 146, 0.3);
                }

                &:nth-child(1) {

                    span {
                        max-width: 120px;

                        @include md() {
                            max-width: 100%;
                        }

                    }

                }

                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(4) {

                    span {
                        max-width: 149px;

                        @include md() {
                            max-width: 100%;
                        }

                    }

                }

                &:nth-child(5) {

                    span {
                        max-width: 130px;

                        @include md() {
                            max-width: 100%;
                        }

                    }

                }

            }

        }

        &-slider {

            &__item {
                display: grid !important;
                grid-template-columns: repeat(12, 1fr);
                grid-gap: 30px;

                @include md() {
                    display: flex !important;
                    flex-direction: column-reverse;
                }

            }

            &__text {
                font-size: 20px;
                line-height: 1.3;
                grid-column: span 5;

                @include md() {
                    font-size: 16px;
                }

                p {
                    margin-bottom: 15px;

                    &:last-child {
                        margin-bottom: 0;
                    }

                }

            }

            &__img {
                grid-column: span 7;

                @include md() {
                    margin-bottom: 10px;    
                }

                img {
                    border-radius: 22px;
                }

            }

        }

        &-content {

            &__item {
                display: none;
                animation: fadeIn .6s ease-in;
                width: 100%;

                &.is-active {
                    display: block;
                }

            }

        }

        &__slider-nav {
            margin-top: 20px;
        }

    }

}

.erp-map {
    background: linear-gradient(180deg, rgba(17, 14, 36, 0.8) 0%, rgba(17, 14, 36, 0) 100%);
    padding-top: 100px;
    padding-bottom: 110px;

    @include md() {
        padding-top: 0;
        padding-bottom: 100px;
    }

    &__top {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 70px;
        margin-bottom: 80px;

        @include md() {
            display: flex;            
            flex-direction: column;
            margin-bottom: 0;
        }

    }

    &__text {
        font-size: 22px;
        line-height: 1.45;

        @include md() {
            font-size: 18px;
            line-height: 1.5;
        }

    }

    &__img-wrapper {
        display: flex;
        justify-content: center;

        @include md() {
            display: none;
        }

    }

    &__col{

        &--first{

            @include md() {
                font-size: 24px;
            }

        }

    }

}

.erp-contacts {
    padding-top: 95px;
    padding-bottom: 155px;

    @include md() {
        padding-top: 0;
        padding-bottom: 100px;
    }

    &__title{

        @include md() {
            font-size: 24px;
        }   

    }

    &__line {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr auto;
        grid-gap: 13px;

        @include md() {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }

    }

    &__field{

        @include md() {
            margin-bottom: 10px;
        }

    }

    &__button{

        @include md() {
            margin-top: 10px;
        }

    }

}

.field {
    display: flex;
    width: 100%;
    height: 52px;
    border: 1px solid #484564;
    border-radius: 50px;
    background-color: transparent;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 14px;
    font-family: "SanFrancisco-SemiBold";
    color: $body-color;
    transition: 0.3s border-color;

    &:focus {
        border-color: $body-color;

        &::placeholder {
            color: $body-color;
        }

    }

    &::placeholder {
        color: #484564;
        transition: 0.3s color;
    }

    &--textarea {
        height: 114px;
        resize: none;
        border-radius: 15px;
        padding: 17px;
        line-height: 1.3;
    }

}

.main-2 {

    $this: &;

    position: relative;
    padding-top: 150px;
    min-height: 100vh;

    @include md() {
        padding-top: 120px;
    }

    &__angle {
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
    }

    &__circle {
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
    }

    &__top-line {
        position: absolute;
        top: 10px;
        right: 0;
    }

    &__bottom-line {
        position: absolute;
        bottom: -200px;
        right: 0;
        z-index: -1;
    }

}

.about {

    &-block {
        margin-bottom: 85px;

        @include md() {
            margin-bottom: 60px;
        }

        &__title {
            margin-bottom: 0;
        }

        &__container {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-gap: 30px;

            @include md() {
                display: block;
            }

        }

        &__col {

            &--first {
                grid-column: 1 / span 3;

                @include md() {
                    margin-bottom: 15px;
                }

            }

            &--second {
                grid-column: 4 / span 5;

                @include md() {
                    margin-bottom: 15px;
                }

            }

            &--last {
                grid-column: 9 / span 4;
            }

        }

        &__text {
            font-size: 18px;
            line-height: 1.44;

            @include md() {
                font-size: 16px;
            }

        }

    }

    &-map {
        margin-bottom: 100px;

        &__map {
            height: 370px;

            @include md() {
                height: 450px;
            }

        }

    }

    &-form {
        padding-bottom: 100px;

        @include md() {
            padding-bottom: 80px;
        }

        &__container {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            background: linear-gradient(105.98deg, #0D0B1E 0%, #1A1830 100.69%);
            border-radius: 40px;
            padding: 56px 72px;

            @include md() {
                padding: 15px;
                border-radius: 0;
            }

        }

        &__line {
            display: flex;
            width: 100%;
            margin-bottom: 20px;

            @include md() {
                flex-direction: column;
                margin-bottom: 25px;
            }

        }

        &__partial {
            width: 100%;
        }

        &__title {
            max-width: 352px;
            color: #fff;
            margin-bottom: 0;
            margin-right: 25px;

            @include md() {
                font-size: 22px;
                margin-right: 0;
                margin-bottom: 30px;
            }

        }

        &__fields {
            max-width: 312px;
            margin-right: 15px;

            @include md() {
                max-width: 100%;
                margin-right: 0;
                margin-bottom: 10px;
            }

        }

        &__field {
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }

        }

        &__textarea {
            max-width: 293px;

            @include md() {
                max-width: 100%;
            }

        }

        &__button{

            @include md() {
                width: 140px;
            }

        }

    }

}

.news {

    $this: &;

    position: relative;
    padding-bottom: 60px;

    @include md() {
        padding-bottom: 100px;
    }

    &__line {
        position: absolute;
        top: -120px;
        right: 0;
        z-index: -1;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 30px;
        margin-bottom: 55px;

        @include md() {
            display: block;
            margin-bottom: 0;
        }

        #{$this}-item {
            grid-column: span 3;

            &:nth-child(6n + 1),
            &:nth-child(6n + 6) {
                grid-column: span 6;
            }

        }

    }

    .load-more{

        @include md() {
            display: none;
        }

    }

}

.load-more {

    $this: &;

    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s;

    &.is-shown {
        opacity: 1;
    }

    &__item {
        width: 9px;
        height: 9px;
        background-color: #3AE392;
        border-radius: 50%;
        margin-right: 11px;
        box-shadow: 0 0 10px rgba(58, 227, 146, 0.3);
        animation: sk-bouncedelay 1.2s infinite ease-in-out both;

        &:last-child {
            margin-right: 0;
        }

        &--1 {
            animation-delay: -0.32s;
        }

        &--2 {
            animation-delay: -0.16s;
        }

    }

}

@keyframes sk-bouncedelay {

    0%,
    100%,
    80% {
        transform: scale(0);
    }

    40% {
        transform: scale(1.0);
    }

}

.article {
    padding-bottom: 130px;

    &__row {
        justify-content: center;
    }

    &__title {
        font-size: 35px;
        font-family: "SamsungSharpSans-Bold";
        margin-bottom: 20px;

        @include md() {
            font-size: 30px;    
        }

    }

    &__date-time {
        font-size: 18px;
        font-family: "SanFrancisco-Medium";
        line-height: 1.444;
        color: #4E4A6D;
        margin-bottom: 40px;

        @include md() {
            color: $body-color;   
            margin-bottom: 30px;
        }

    }

    &__content {

        p {
            font-size: 18px;
            font-family: "SanFrancisco-Medium";
            line-height: 1.44;
            margin-bottom: 30px;

            @include md() {
                font-size: 16px;
                margin-bottom: 15px;
            }

            &:last-child {
                margin-bottom: 0;
            }

        }

        img {
            border-radius: 10px;
            margin-top: 15px;
            margin-bottom: 30px;
        }

    }

}

.custom-scroll {
    overflow-y: auto;
}

.mCSB_scrollTools {
    opacity: 1 !important;
}

.mCSB_scrollTools .mCSB_draggerRail {
    width: 2px;
    background-color: #353251;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    width: 2px;
    background-color: #3AD189 !important;
}

.block-hover {

    $this: &;

    position: relative;
    overflow: hidden;
    border-radius: 22px;

    &:nth-child(1) {

        &:hover {

            .block-hover-content {
                opacity: 1;
                transform: translateX(0);
            }

        }

        .block-hover-content {
            transform: translateX(-100%);
        }

    }

    &:nth-child(2) {

        &:hover {

            .block-hover-content {
                opacity: 1;
                transform: translateY(0);

                @include md() {
                    transform: translateX(0);
                }

            }

        }

        .block-hover-content {
            transform: translateY(100%);

            @include md() {
                transform: translateX(100%);
            }

        }

    }

    &:nth-child(3) {

        &:hover {

            .block-hover-content {
                opacity: 1;
                transform: translateY(0);

                @include md(){
                    transform: translateX(0);
                }

            }

        }

        .block-hover-content {
            transform: translateY(-100%);

            @include md(){
                transform: translateX(-100%);
            }

        }

    }

    &__overlay {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        background-color: rgba(17, 14, 36, 0.8);
        border-radius: 20px;
        transition: 0.3s;
    }

    &-content {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: yellow;
        border-radius: 20px;
        background-color: #1E1B37;
        padding-left: 35px;
        padding-right: 17px;
        padding-top: 30px;
        padding-bottom: 40px;
        transition: 0.3s;
        opacity: 0;


        &__title {
            font-size: 24px;
            font-family: "SamsungSharpSans-Bold";
            color: #3AD189;
            margin-bottom: 15px;

            @include md() {
                font-size: 20px;
            }

        }

        &-list {

            &__item {
                font-size: 22px;
                margin-bottom: 8px;
                transition: 0.3s color;

                @include md() {
                    font-size: 20px;
                }

                &:hover {
                    color: #FFBB00;
                }

                &:last-child {
                    margin-bottom: 0;
                }

            }

        }

    }

}

.erp-module {
    height: 310px;

    &__overlay {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        border-radius: 22px;
        padding: 25px 35px;
        padding-right: 5px;

        &::before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: rgba(15, 13, 40, 0.7);
            border-radius: 22px;
        }

    }

    &__title,
    &__descr {
        position: relative;
    }

    &__title {
        font-size: 28px;
        font-family: "SanFrancisco-SemiBold";
        margin-bottom: 10px;
    }

    &__descr {
        font-size: 18px;
    }

    &__content {
        padding-bottom: 35px;
    }

    &__list {
        height: 202px;
    }

}

.test {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #000;
    z-index: 9999;
}

.popup {
    display: none;
    position: relative;
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    padding: 30px;
    border-radius: 20px;
    padding-top: 70px;

    @include md() {
        padding: 20px;
        padding-top: 70px;
        padding-bottom: 30px;
    }

    &__fields {
        margin-bottom: 20px;
    }

    &__field {
        margin-bottom: 15px;
        color: #484564;

        &:focus {
            border-color: #484564;

            &::placeholder {
                color: #484564;
            }

        }

        &:last-child {
            margin-bottom: 0;
        }

    }

}

.fancybox-slide--html .fancybox-close-small{
    position: absolute;
    right: 20px;
    top: 15px;
    padding: 0;
    color: #000;
    width: 40px;
    height: 40px;
}

.fancybox-container {
    overflow-y: scroll;
}

.success-popup {
    padding: 40px;
    color: #000;

    @include md() {
        padding: 30px;
        padding-top: 60px;    
    }

    &__title {
        margin-bottom: 10px;

        @include md() {
            font-size: 28px;
        }

    }

}

.contact-popup {
    transition: 0.3s opacity;

    &.is-hidden {
        opacity: 0;
    }

}

#preloader {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #191927;
    z-index: 999999;
    opacity: 1;
    transition: 0.3s;

    &.is-loaded {
        opacity: 0;
        z-index: -1;
    }
}

.sk-folding-cube {
    $cubeCount: 4;
    $animationDuration: 2.4s;
    $delayRange: ($animationDuration / 2);

    $spinkit-size: 4em !default;
    $spinkit-spinner-color: #337ab7 !default;

    width: $spinkit-size;
    height: $spinkit-size;
    position: relative;
    margin: auto;
    transform: rotateZ(45deg);

    .sk-cube {
        float: left;
        width: 50%;
        height: 50%;
        position: relative;
        transform: scale(1.1);
    }

    .sk-cube:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #33334F;
        transform-origin: 100% 100%;
        animation: sk-folding-cube-angle $animationDuration infinite linear both;
    }

    // Rotation / angle
    @for $i from 2 through $cubeCount {
        .sk-cube-#{$i} {
            transform: scale(1.1) rotateZ((90deg * ($i - 1)));
        }
    }

    @for $i from 2 through $cubeCount {
        .sk-cube-#{$i}:before {
            animation-delay: ($delayRange / $cubeCount * ($i - 1));
        }
    }
}

@keyframes sk-folding-cube-angle {

    0%,
    10% {
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }

    25%,
    75% {
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }

    90%,
    100% {
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}

.about-block {
    position: relative;
    z-index: 10;
}

.burger {

    $block-name: &; // #{$block-name}__element
    $toggler-part-height: 3px;
    $toggler-part-bg-color: $body-color;
    $transition-time: 0.3s !default;

    display: none;
    position: relative;
    z-index: 99999;
    padding: 0;
    width: 40px;
    line-height: 30px;
    background: transparent;
    border: none;
    user-select: none;
    cursor: pointer;

    @include md() {
        display: inline-block;
    }

    >span {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        width: 100%;
        height: $toggler-part-height;
        font-size: 0;
        color: transparent;
        background: $toggler-part-bg-color;
        transition: background $transition-time $transition-time;

        &:before,
        &:after {
            content: '';
            position: absolute;
            left: 0;
            width: 100%;
            height: $toggler-part-height;
            background: $toggler-part-bg-color;
            transform-origin: 50% 50%;
            transition: top $transition-time $transition-time, transform $transition-time;
        }

        &:before {
            top: -10px;
        }

        &:after {
            top: 10px;
        }
    }

    &--close {

        >span {
            transition: background $transition-time 0s;
            background: transparent;

            &:before,
            &:after {
                transition: top $transition-time, transform $transition-time $transition-time;
                top: 0;
            }

            &:before {
                transform: rotate3d(0, 0, 1, 45deg);
            }

            &:after {
                transform: rotate3d(0, 0, 1, -45deg);
            }
        }
    }
}

.js-subnav-toggler{
    display: block;

    &.is-active{
        color: $body-color;
    }

}

.js-mobile-slider-dots{
    display: none;

    @include md() {
        position: relative;
        height: 9px;
        display: flex;
        justify-content: center;
        margin-top: 25px;
        margin-right: 0;
    }

    .slick-dots{
        position: absolute;
    }

}

.js-mobile-slider-arrows{
    display: none;

    @include md() {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 25px;
    }

}